.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #828282;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-grey {
    background-color: #828282;
}