.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color:#FF9900;
    text-shadow: 4px 4px 0px #000;
}

.footer-text{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #FFF;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align:center;
}